-- Bulk insert all 50 states into state_laws table
-- Generated from student-portal/js/state-laws.js
-- Run this AFTER creating the state_laws table




















































-- Verify the migration
SELECT state_code, state_name FROM state_laws ORDER BY state_name;

-- Total states migrated: 50
